background-color: black; /*noir*/
color: red; /* rouge*/
background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Fvector-art%2F174458-vector-graffiti-art-seamless-pattern&psig=AOvVaw24GpE0FKwpD73o-1PwL4is&ust=1607978909329000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjK5sfyy-0CFQAAAAAdAAAAABA6
"); 
